body{
    background-color:  hsl(212, 45%, 89%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.box-content{
    background-color: hsl(0, 0%, 100%);
    height: 500px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 20px;
}
.box-content img{
    height: 270px;
    width: 270px;
    margin: 10px;
    border-radius: 10px;
}
.box-content h2{
    font-family: 'Outfit', sans-serif;
    color: hsl(218, 44%, 22%);
    text-align: center;
}
.box-content p{
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    text-align: center;
}